.mainImg {
    /* width: 100%;
    background: url('https://png.pngtree.com/background/20210714/original/pngtree-dot-blue-wave-line-light-gradient-dark-background-abstract-technology-big-picture-image_1223579.jpg') no-repeat center;
    background-size: cover;
    min-height: 70vh;
    margin-bottom: 100px; */
    
    }
    
    .mainImg_shadow {
        content: "";
        top: 50px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        width: 100%;
        height: 700px;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .wrapper {
        padding-top: 150px;
    }
    
    .title {
        font-weight: 500;
        font-size: 55px;
        line-height: 60px;
        color: white;
        max-width: 850px;
        margin-bottom: 50px;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 50px;
    }
    
    
    
    .subtitle {
        max-width: 600px;
        color: white;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 59px;
        text-align: center;
        margin: 0 auto;
        font-size: 35px;
      
    }

    .num_wrapper {
        margin-top: 50px;
        text-align: center;
    }
    
     .number_1 {
         color: white;
        text-decoration: none;
        padding: 0.5rem 1rem;
        font-size: 22px;
        background-color: #1173a3;;
        border-radius: 20px;
        margin-left: 50px;
               
     }
    
     .number_2 {
        color: white;
       text-decoration: none;
       padding: 0.5rem 1rem;
       font-size: 22px;
       background-color: #28a049;
       border-radius: 20px;
       margin-left: 50px;
              
    }

     .phone_icon {
         color: white;
         width: 25px;
         height: 25px;
         background-color: none;
    
     }

     .whatsapp_icon {
        width: 25px;
        height: 25px;
     }