  /* services style start  */

  .services {
    margin-bottom: 100px;
  }

  .wrapper {
    max-width: 1060px;
      margin: 0 auto;
      padding: 0 15px;
  }

  .services_title {
     
    margin-bottom: 100px;
    text-align: center;
    border-bottom: 1px solid black;
    line-height: 100px;
    font-size: 30px; 

  }
    
    .service__cards {
      max-width: 956px;
      display: grid;
      flex-wrap: wrap;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 25px;
      
      
      
    }
  
      /* services style end  */

      /* One service style start  */

    .service__card {
        display: flex;
        flex-direction: column;
        max-width: 700px;
        height: 140px;
        border: 1px solid black;
        justify-content: center;
        border-top-right-radius: 60px;
        border-bottom-right-radius: 60px;
      }
  
      .service__card:hover {
        transform: scale(1.07);
        transition: all 0.6s; 
    }
  
      .service_backImg{
        position: relative;
        width: 100%;
        height: 100%;
        border-top-right-radius: 60px;
        border-bottom-right-radius: 60px;
      }
      .service_title_wrapper {
        position: absolute;
        display: flex;
        align-items: center;
  
      }

      .service_title {
        color: white;
        margin-left: 10px;
        font-size: 23px;
       
      }
  
      /* One service style end  */
      
    
    /* service detail start  */
    
    .serviceDetail_wrapper {
        max-width:1200px ;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    
    .serviceDetail_container {
      max-width: 1200px;
        display: flex;
        justify-content: space-between;
      }
      
      .serviceDetail_main__info {
        width: 60%;
        margin: 20px 0;
    
      }
    
      .serviceDetail_photo {
        border-radius: 15px;
        
      }
      
      .serviceDetail_naturePhoto {
       max-width: 100px;
        height: 335px;
        margin: 20px 0;
      }
      .serviceDetail_subtitle {
        margin-top: 70px;
        margin-bottom: 20px;
      }
    
      .serviceDetail_text {
        font-size: 20px;
        margin-bottom: 20px;
      }
      .serviceDetail_text2 {
        font-size: 20px;
      }
      
  
      
  
    
    
  
      