.schedule_container {
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  padding: 50px 0;
}

.schedule_photo {
  border-radius: 15px;
  max-width: 800px;
  max-height: 500px;
}

.schedule_subtitle {
  margin-top: 70px;
  margin-bottom: 20px;
}

.schedule_text {
  font-size: 20px;
  margin-bottom: 20px;
}
.schedule_text2 {
  font-size: 20px;
}
