/* Sprechen style start  */
.sprechen_section {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
  padding-bottom: 100px;
}

.sprechen_title {
  margin-bottom: 100px;
  text-align: center;
  border-bottom: 1px solid black;
  line-height: 100px;
  font-size: 30px;
}

.sprechen_modules {
  max-width: 956px;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 25px;
}

.sprechen_module {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  height: 140px;
  border: 1px solid black;
  justify-content: center;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  margin-bottom: 20px;
}

.sprechen_module:hover {
  transform: scale(1.07);
  transition: all 0.6s;
}

.sprechen_backImg {
  position: relative;
  width: 100%;
  height: 100%;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}

.sprechen_title_wrapper {
  position: absolute;
  display: flex;
  align-items: center;
}
.sprechen_module_title {
  color: white;
  margin-left: 10px;
  font-size: 23px;
}
/* Srechen style end  */

/* Srechen module start  */

.sprechenModule_section {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
  padding-bottom: 100px;
}
.sprechenModule_title {
  padding-top: 25px;
  padding-bottom: 25px;
}

.sprechenModule_parts {
  max-width: 956px;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 25px;
}

.sprechenModule_part {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  height: 140px;
  border: 1px solid black;
  justify-content: center;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  margin-bottom: 20px;
}

.sprechenModule_part:hover {
  transform: scale(1.07);
  transition: all 0.6s;
}

.sprechenModule_backImg {
  position: relative;
  width: 100%;
  height: 100%;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}

.sprechenModule_part_title_wrapper {
  position: absolute;
  display: flex;
  align-items: center;
}

.sprechenModule_parts_title {
  color: white;
  margin-left: 10px;
  font-size: 23px;
}

/* Sprechen part style start */

.sprechenPart_section {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 100px;
  padding-bottom: 100px;
}
