/* footer style start */

.footer {
    background-color: #2d2d2d;
    padding: 50px 0;
    }

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
    }
      
.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    color: white;
    } 

.footer_cantacts {
    display: flex;
    justify-content: space-around;
    color: white;
    
    }

/* footer style end */
    
/* social list style start */

.list_icons {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 50px;
    }
    
.list_icons li {
    margin-right: 25px;
    } 

.list-icons li:hover{
        transform: scale(1.27);
        transition: all 0.6s;
    }
    
.list-icons li:last-child {
    margin-right: 0;
    }


    
    
    
    
    
    
   